/******************************************************************
  Template Name: Hotel Template
  Description: Hotel HTML Template
  Author: colorlib
  Author URI: https://www.colorlib.com/
  Version: 1.0
  Created: colorlib
******************************************************************/

/*------------------------------------------------------------------
[Table of contents]

1.  Template default CSS
	1.1	Variables
	1.2	Mixins
	1.3	Flexbox
	1.4	Reset
2.  Helper Css
3.  Header Section
4.  Hero Section
5.  Room Availability Section
6.  About Section
7.  Fecilities Section
8.  Testimonial Section
9.  Footer
10. Other Pages Style

-------------------------------------------------------------------*/


/*----------------------------------------*/
/* Template default CSS
/*----------------------------------------*/

html,
body {
	height: 100%;
	font-family: "Taviraj", serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	background: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 500;
	font-family: "Taviraj", serif;
}

h1 {
	font-size: 65px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 16px;
	color: #858585;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	line-height: 28px;
	margin: 0 0 15px 0;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #081624;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

[class^=flaticon-]:before,
[class*=" flaticon-"]:before,
[class^=flaticon-]:after,
[class*=" flaticon-"]:after {
	font-family: Flaticon;
	font-size: 40px;
	font-style: normal;
}

/*---------------------
  Helper CSS
-----------------------*/

.section-title {
	margin-bottom: 80px;
}

.section-title h1 {
	color: #242424;
	font-size: 72px;
	font-weight: 400;
	line-height: 72px;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #ffffff;
}

/* buttons */

.primary-btn {
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	padding: 15px 0;
	padding-left: 34px;
	padding-right: 64px;
	color: #081624;
	font-family: "Open Sans", sans-serif;
	text-transform: uppercase;
	border: 2px solid #AE954B;
	position: relative;
}

.primary-btn i {
	position: absolute;
	right: 25px;
	top: 14px;
	font-size: 21px;
	color: #AE9548;
}

.submit-btn {
	color: #ffffff;
	background: #82D026;
	font-size: 14px;
	font-weight: 400;
	border: none;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	cursor: pointer;
}

/* Preloder */

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #000;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

.el-title {
	margin-bottom: 75px;
}

.element {
	margin-bottom: 100px;
}

.element:last-child {
	margin-bottom: 0;
}

/*---------------------
  Header
-----------------------*/

.header-section {
	background: #353535;
	padding: 18px 0;
	position: absolute;
	left: 0;
	width: 100%;
}

.header-section.other-page {
	border-bottom: 1px solid #ae9548;
}

.header-section.other-page .inner-header .main-menu {
	margin-right: 0;
}

.header-section.other-page .inner-header .main-menu ul li {
	margin-right: 38px;
}

.header-section.other-page .inner-header .top-widget {
	float: right;
}

.header-section.other-page .inner-header .top-widget .top-info {
	float: left;
}

.header-section.other-page .inner-header .top-widget .top-info.address {
	margin-right: 40px;
}

.header-section.other-page .inner-header .top-widget .top-info.phone-num {
	float: right;
	position: relative;
}

.header-section.other-page .inner-header .top-widget .top-info.phone-num img {
	position: absolute;
	left: 0;
	top: -3px;
}

.header-section.other-page .inner-header .top-widget .top-info.phone-num span {
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	color: #ffffff;
	letter-spacing: 0.5px;
	line-height: 18px;
	display: inline-block;
	margin-left: 45px;
}

.inner-header .logo {
	float: left;
	padding-left: 35px;
	margin-right: 30px;
	width: 150px;
}

.inner-header .logo a {
	display: block;
}

.inner-header .main-menu {
	float: left;
	margin-right: 25px;
	/* vertical-align:middle; */
}

.inner-header .main-menu ul li {
	list-style: none;
	display: inline-block;
	margin-right: 40px;
	position: relative;
}

.inner-header .main-menu ul li:hover a {
	color: #ae9548;
}

.inner-header .main-menu ul li .drop-menu {
	position: absolute;
	left: 0;
	top: 70px;
	background: #ffffff;
	width: 220px;
	opacity: 0;
	visibility: hidden;
	z-index: -1;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.inner-header .main-menu ul li .drop-menu li {
	display: block;
	margin-right: 0;
}

.inner-header .main-menu ul li .drop-menu li:hover a {
	color: #ae9548;
}

.inner-header .main-menu ul li .drop-menu li a {
	color: #242424;
	display: block;
	padding: 7px 20px;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 0.5px;
}

.inner-header .main-menu ul li a {
	font-size: 20px;
	font-weight: 400;
	color: #ffffff;
	letter-spacing: 0.5px;
}

.inner-header .main-menu ul li:hover>.drop-menu {
	top: 30px;
	opacity: 1;
	visibility: visible;
	z-index: 999;
}

.inner-header .top-info {
	float: right;
	position: relative;
}

.inner-header .top-info img {
	position: absolute;
	left: 0;
	top: 2px;
}

.inner-header .top-info span {
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	color: #ffffff;
	line-height: 18px;
	display: inline-block;
	margin-left: 45px;
	max-width: 160px;
}

.slicknav_menu {
	display: none;
}

/*---------------------
  Hero Slider
-----------------------*/

.slider-item .single-slider-item {
	height: 938px;
	padding-top: 395px;
}


.slider-item .single-slider-item h1 {
	font-size: 96px;
	color: #ffffff;
	line-height: 96px;
}

.slider-nav {
	position: absolute;
	right: 0;
	top: 0;
}

.slider-nav .single-slider-nav {
	display: inline-block;
	margin-right: 26px;
}

.slider-nav .single-slider-nav.last {
	margin-right: 0;
}

.slider-nav .single-slider-nav:hover .nav-text {
	background: #ffffff;
	border: 1px solid #ae9548;
	border-top: 0;
}

.slider-nav .single-slider-nav:hover .nav-text p {
	color: #081624;
}

.slider-nav .single-slider-nav .nav-text {
	background: #353535;
	padding: 8px 15px;
	position: relative;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	border: 1px solid #353535;
	border-top: 0;
}

.slider-nav .single-slider-nav .nav-text p {
	color: #ffffff;
	font-size: 16px;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 0;
}

.slider-nav .single-slider-nav .nav-text p i {
	position: absolute;
	right: 15px;
	top: 11px;
	font-size: 20px;
	color: #ae9548;
}

/*---------------------
  Room Availability
-----------------------*/

.room-check {
	padding-bottom: 52px;
}

.room-item {
	margin-bottom: 40px;
	-webkit-box-shadow: 2px 15px 75px 6px #ECECEC;
	box-shadow: 2px 15px 75px 6px #ECECEC;
}

.room-item .room-pic-item.owl-carousel .owl-nav button[type=button] {
	color: #AE9548;
	font-size: 26px;
	height: 69px;
	width: 52px;
	background: #353535;
	line-height: 72px;
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-34.5px);
	transform: translateY(-34.5px);
}

.room-item .room-pic-item.owl-carousel .owl-nav button[type=button].owl-next {
	left: auto;
	right: 0;
}

.room-item .room-text {
	overflow: hidden;
	padding-left: 35px;
	padding-top: 35px;
	padding-right: 45px;
	padding-bottom: 37px;
}

.room-item .room-text .room-title {
	overflow: hidden;
	margin-bottom: 36px;
}

.room-item .room-text .room-title h2 {
	float: left;
	font-size: 36px;
	color: #2d220f;
}

.room-item .room-text .room-title .room-price {
	float: right;
	position: relative;
}

.room-item .room-text .room-title .room-price span {
	position: absolute;
	left: -40px;
	bottom: 7px;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	line-height: 14px;
	color: #2d220f;
}

.room-item .room-text .room-title .room-price h2 {
	font-size: 36px;
	color: #081624;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
}

.room-item .room-text .room-features {
	overflow: hidden;
}

.room-item .room-text .room-features .room-info {
	float: left;
	text-align: center;
	margin-right: 50px;
}

.room-item .room-text .room-features .room-info.last {
	margin-right: 0;
}

.room-item .room-text .room-features .room-info i {
	display: block;
	color: #ae9548;
	margin-bottom: -4px;
}

.room-item .room-text .room-features .room-info span {
	display: block;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	color: #2d220f;
}

.check-form {
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 55px;
	padding-bottom: 61px;
	border: 2px solid #AE9548;
	margin-bottom: 40px;
}

.check-form h2 {
	font-size: 36px;
	font-weight: 400;
	color: #081624;
	margin-bottom: 40px;
}

.check-form .datepicker {
	margin-bottom: 52px;
}

.check-form .datepicker .date-select {
	display: inline-block;
	position: relative;
	margin-right: 56px;
}

.check-form .datepicker .date-select.to {
	margin-right: 0;
}

.check-form .datepicker .date-select p {
	font-size: 14px;
	color: #081624;
	margin-bottom: 2px;
	font-weight: 400;
}

.check-form .datepicker .date-select input {
	font-size: 14px;
	font-weight: 600;
	color: #242424;
	font-family: "Open Sans", sans-serif;
	text-transform: uppercase;
	opacity: 0.5;
	border: none;
	letter-spacing: 1.2px;
	height: 48px;
	border-bottom: 1px solid #888888;
	width: 168px;
	display: block;
}

.check-form .datepicker .date-select img {
	position: absolute;
	right: 0;
	bottom: 16px;
}

.check-form .room-quantity {
	margin-bottom: 34px;
}

.check-form .room-quantity .single-quantity {
	display: inline-block;
	margin-right: 105px;
}

.check-form .room-quantity .single-quantity.last {
	margin-right: 0;
}

.check-form .room-quantity .single-quantity p {
	font-size: 14px;
	color: #081624;
	margin-bottom: 2px;
	font-weight: 400;
}

.check-form .room-quantity .single-quantity .pro-qty {
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #8C9299;
}

.check-form .room-quantity .single-quantity .pro-qty .qtybtn {
	float: left;
	width: 15px;
	text-align: center;
	cursor: pointer;
	display: block;
	color: #081624;
	font-size: 18px;
	letter-spacing: 0.4px;
	font-weight: 300;
}

.check-form .room-quantity .single-quantity .pro-qty input {
	width: 28px;
	border: none;
	float: left;
	text-align: center;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #081624;
	opacity: 0.25;
	letter-spacing: 0.4px;
	margin-top: -2px;
}

.check-form .room-selector {
	display: block;
}

.check-form .room-selector p {
	font-size: 14px;
	color: #242424;
	margin-bottom: 2px;
	font-weight: 400;
}

.check-form .room-selector .nice-select {
	border-radius: 0;
	border-bottom: 1px solid #888888;
	font-size: 14px;
	height: 46px;
	line-height: 46px;
	width: 100%;
	font-size: 14px;
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 55px;
}

.check-form .room-selector .nice-select span {
	color: #242424;
	text-transform: uppercase;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	opacity: 0.5;
}

.check-form .room-selector select {
	width: 100%;
}

.check-form button {
	font-size: 18px;
	color: #081624;
	text-transform: uppercase;
	font-family: "Open Sans", sans-serif;
	font-weight: 900;
	background: transparent;
	border: none;
	cursor: pointer;
	position: relative;
}

.check-form button i {
	line-height: 16px;
	margin-top: 6px;
	position: absolute;
	right: -45px;
	bottom: 7px;
	font-size: 31px;
	color: #AE9548;
}

.nice-select {
	border: 0;
}

.nice-select.open .list {
	width: 100%;
}

.nice-select:after {
	border-bottom: 1px solid #0E0E0E;
	border-right: 1px solid #0E0E0E;
	height: 10px;
	width: 10px;
	right: 4px;
	top: 40%;
}

.nice-select .list {
	border-radius: 0;
	margin-top: 0;
}

.about-room h2 {
	text-align: center;
	font-size: 48px;
	font-weight: 500;
	line-height: 56px;
	color: #242424;
	margin-bottom: 26px;
}

.about-room .about-para {
	margin-bottom: 13px;
}

.about-room .about-para p {
	color: #242424;
	line-height: 32px;
}

.about-room .about-btn {
	text-align: center;
}

/*---------------------
  Facilities
-----------------------*/

.facilities-section {
	background: #F7F7F7;
	padding-bottom: 115px;
	padding-top: 86px;
}

.facilities-content .left-img {
	margin-right: -15px;
}

.facilities-content .left-img img {
	height: 570px;
}

.facilities-content .facilities-text-warp {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 570px;
	background: #ffffff;
	padding: 70px 30px;
}

.facilities-content .facilities-text {
	max-width: 410px;
}

.facilities-content .facilities-text h2 {
	color: #242424;
	letter-spacing: 0.2px;
	margin-bottom: 17px;
}

.facilities-content .facilities-text p {
	font-size: 18px;
	line-height: 36px;
	color: #242424;
	color: #242424;
	margin-bottom: 24px;
}

.facilities-content .facilities-text .primary-btn.fac-btn i {
	right: 35px;
}

.facilities-content .facilities-img {
	height: 100%;
}

.testimonial-author-item ul li a:hover .about-text {
	display: block;
}

.testimonial-author-item ul li a:hover .about-pic {
	margin-right: 32px;
}

/*---------------------
  Testimonial
-----------------------*/

.testimonial-item {
	margin-left: -40px;
	margin-right: -40px;
}

.testimonial-item .single-testimonial-item {
	-webkit-box-shadow: 2px 15px 75px 6px #e8e8e8;
	box-shadow: 2px 15px 75px 6px #e8e8e8;
	padding-left: 40px;
	padding-top: 55px;
	padding-bottom: 45px;
	padding-right: 35px;
	margin-bottom: 52px;
	position: relative;
}

.testimonial-item .single-testimonial-item .test-date {
	color: #242424;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	letter-spacing: 1.2px;
	opacity: 0.5;
}

.testimonial-item .single-testimonial-item .test-rating {
	color: #ED8A19;
	font-size: 24px;
	margin-bottom: 10px;
}

.testimonial-item .single-testimonial-item .test-rating i {
	margin-right: 5px;
}

.testimonial-item .single-testimonial-item h4 {
	color: #242424;
	font-size: 24px;
	line-height: 50.03px;
}

.testimonial-item .single-testimonial-item p {
	font-size: 16px;
	color: #242424;
	line-height: 32px;
	letter-spacing: 0.2px;
}

.testimonial-author-item ul li {
	list-style: none;
	display: inline-block;
}

.testimonial-author-item ul li a.active {
	opacity: 1;
}

.testimonial-author-item ul li a.active .author-pic {
	margin-right: 32px;
}

.testimonial-author-item ul li a.active .author-pic:after {
	opacity: 1;
}

.testimonial-author-item ul li a.active .author-text {
	display: block;
	margin-right: 35px;
}

.testimonial-author-item ul li a {
	display: block;
	opacity: 0.5;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.testimonial-author-item ul li a:hover {
	opacity: 1;
}

.testimonial-author-item ul li a .author-pic {
	float: left;
	margin-right: 20px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	position: relative;
}

.testimonial-author-item ul li a .author-pic:after {
	position: absolute;
	left: 15px;
	top: -72px;
	width: 40px;
	height: 40px;
	background: #fff;
	content: "";
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	opacity: 0;
}

.testimonial-author-item ul li a .author-pic img {
	height: 68px;
	width: 68px;
	border-radius: 50%;
}

.testimonial-author-item ul li a .author-text {
	float: left;
	margin-top: 8px;
	display: none;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.testimonial-author-item ul li a .author-text h5 {
	color: #ae9548;
	font-size: 18px;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 24px;
}

.testimonial-author-item ul li a .author-text h5 span {
	color: #242424;
	font-size: 16px;
	font-style: italic;
	letter-spacing: 0.2px;
	line-height: 24px;
	text-transform: capitalize;
	display: block;
}

/*---------------------
  Follow Instagram
-----------------------*/

.follow-instagram {
	background: #f7f7f7;
	padding: 23px 0;
}

.follow-instagram h2 {
	font-size: 36px;
	color: #242424;
	line-height: 72px;
	font-weight: 400;
}

/*---------------------
  Footer Room Pic
-----------------------*/

.footer-room-pic img {
	width: 25%;
}

/*---------------------
  Footer
-----------------------*/

.pb-50 {
	padding-bottom: 50px;
}

.footer-section {
	background: #353535;
	padding-top: 43px;
	overflow: hidden;
}

.footer-section .footer-logo {
	margin-bottom: 50px;
}

.footer-section .footer-logo a {
	display: block;
}

.footer-section .single-footer-widget {
	margin-bottom: 25px;
}

.footer-section .single-footer-widget h5 {
	font-size: 18px;
	line-height: 42px;
	color: #ae9548;
}

.footer-section .single-footer-widget .widget-text {
	position: relative;
}

.footer-section .single-footer-widget .widget-text i {
	position: absolute;
	left: 0;
	top: 5px;
	font-size: 18px;
	color: #ae9548;
}

.footer-section .single-footer-widget .widget-text p {
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.5px;
	color: #ffffff;
	margin-left: 30px;
}

.footer-section .copyright-area {
	overflow: hidden;
	padding: 30px 0;
	border-top: 1px solid #ae9548;
}

.footer-section .copyright-area .copyright-text {
	float: left;
	font-size: 13px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	color: #ffffff;
	line-height: 24px;
}

.footer-section .copyright-area .copyright-text i {
	color: #ff2410;
}

.footer-section .copyright-area .copyright-text a {
	color: #ffffff;
	text-decoration: underline;
}

.footer-section .copyright-area .privacy-links {
	float: right;
	margin-right: 35px;
}

.footer-section .copyright-area .privacy-links a {
	display: inline-block;
	font-size: 12px;
	line-height: 14px;
	color: #ffffff;
	margin-right: 30px;
}

/*--------------------------- Other Pages Styles --------------------------*/

/*---------------------
  Hero Section
-----------------------*/

.hero-section {
	height: 428px;
	padding-top: 207px;
}

.hero-text {
	position: relative;
	padding-left: 270px;
}

.hero-text h1 {
	font-size: 96px;
	color: #ffffff;
	line-height: 96px;
}

.hero-text .page-nav a {
	display: inline-block;
	color: #ffffff;
	font-size: 24px;
	font-weight: 500;
	font-family: "Taviraj", serif;
	position: absolute;
	left: 49px;
	top: 30%;
}

.hero-text .page-nav a i {
	color: #ae9548;
	position: relative;
	top: 2px;
}

.hero-text .page-nav a.left-nav i {
	margin-right: 20px;
}

.hero-text .page-nav a.right-nav {
	left: auto;
	right: 49px;
}

.hero-text .page-nav a.right-nav i {
	margin-left: 20px;
}

/*---------------------
  About Room
-----------------------*/

.about-us-room {
	padding-top: 90px;
	padding-bottom: 62px;
}

.about-us-room h2 {
	text-align: center;
	font-size: 48px;
	font-weight: 500;
	line-height: 56px;
	color: #242424;
	margin-bottom: 26px;
}

.about-us-room .about-para {
	margin-bottom: 13px;
}

.about-us-room .about-para p {
	color: #242424;
	line-height: 32px;
	letter-spacing: 0.1px;
}

/*---------------------
  Video Tour
-----------------------*/

.video-tour {
	height: 657px;
	position: relative;
	padding-top: 282px;
}

.video-tour .video-text h2 {
	font-size: 48px;
	color: #ffffff;
}

.video-tour .video-play-btn {
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	-webkit-transform: translateY(-51.5px);
	transform: translateY(-51.5px);
	margin: 0 auto;
}

.video-tour .video-play-btn a {
	display: block;
}

.video-tour .video-play-btn a i {
	color: #ffffff;
	font-size: 45px;
	display: inline-block;
	position: relative;
	cursor: pointer;
}

.video-tour .video-play-btn a i:after {
	position: absolute;
	left: -52px;
	top: -42px;
	width: 127px;
	height: 127px;
	border: 2px solid #ffffff;
	content: "";
	border-radius: 50%;
}

/*---------------------
  Gallery
-----------------------*/

.gallery-section {
	padding-bottom: 60px;
}

.gallery-text {
	padding-top: 136px;
	margin-bottom: 40px;
}

.gallery-text h2 {
	color: #242424;
	margin-bottom: 17px;
	font-size: 48px;
}

.gallery-text p {
	font-size: 16px;
	line-height: 32px;
	color: #242424;
	margin-bottom: 30px;
	letter-spacing: 0.2px;
}

.gallery-text .primary-btn.fac-btn i {
	right: 35px;
}

.gallery-img {
	margin-bottom: 30px;
}

.gallery-img img {
	min-width: 100%;
}

/*---------------------
  Staff
-----------------------*/

.staff-section {
	padding-top: 0;
	padding-bottom: 70px;
}

.staff-section .section-title h2 {
	font-size: 48px;
	font-weight: 500;
}

.single-staff-item {
	-webkit-box-shadow: 4px 20px 30px 10px #ECECEC;
	box-shadow: 4px 20px 30px 10px #ECECEC;
	margin-bottom: 30px;
}

.single-staff-item .staff-img img {
	min-width: 100%;
}

.single-staff-item .staff-text {
	padding-left: 28px;
	padding-top: 26px;
	padding-bottom: 26px;
	padding-right: 30px;
	position: relative;
}

.single-staff-item .staff-text h5 {
	font-size: 18px;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	color: #ae9548;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.single-staff-item .staff-text span {
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	font-family: "Open Sans", sans-serif;
	color: #242424;
	opacity: 0.5;
	letter-spacing: 1.2px;
	text-transform: uppercase;
}

.single-staff-item .staff-text a i {
	color: #ae9548;
	font-size: 25px;
	position: absolute;
	right: 30px;
	bottom: 42px;
}

/*---------------------
  Services Section
-----------------------*/

.services-section {
	padding: 40px 15px 10px;
}

.single-services-item {
	margin-bottom: 30px;
}

.single-services-item.changed-align .services-text {
	-webkit-transform: translateY(-72px);
	transform: translateY(-72px);
}

.single-services-item .services-pic-item {
	position: relative;
}

.single-services-item .services-pic-item img {
	width: 100%;
}

.single-services-item .services-text {
	position: absolute;
	left: 0;
	top: 50%;
	right: 0;
	bottom: 0;
	text-align: center;
	padding: 0 40px;
	-webkit-transform: translateY(-24px);
	transform: translateY(-24px);
}

.single-services-item .services-text h2 {
	font-size: 48px;
	color: #ffffff;
	line-height: 48px;
}

/*---------------------
  Features Section
-----------------------*/

.features-section {
	background: #F7F7F7;
	padding-bottom: 65px;
}

.single-features-item {
	text-align: center;
	margin-bottom: 55px;
}

.single-features-item i {
	color: #ae9548;
	display: inline-block;
	margin-bottom: 10px;
}

.single-features-item h4 {
	font-size: 24px;
	color: #242424;
	margin-bottom: 13px;
}

.single-features-item p {
	color: #242424;
	font-size: 16px;
	line-height: 32px;
	letter-spacing: 0.2px;
}

/*---------------------
  Rooms Section
-----------------------*/

.room-section {
	padding-bottom: 0;
}

.rooms-page-item {
	-webkit-box-shadow: 2px 15px 75px 6px #EBEBEB;
	box-shadow: 2px 15px 75px 6px #EBEBEB;
	margin-bottom: 100px;
}

.rooms-page-item .room-pic-slider .single-room-pic img {
	height: 379px;
}

.rooms-page-item .room-pic-slider.owl-carousel .owl-nav button[type=button] {
	color: #AE9548;
	font-size: 26px;
	height: 69px;
	width: 52px;
	background: #353535;
	line-height: 72px;
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-34.5px);
	transform: translateY(-34.5px);
}

.rooms-page-item .room-pic-slider.owl-carousel .owl-nav button[type=button].owl-next {
	left: auto;
	right: 0;
}

.rooms-page-item .room-text {
	padding-top: 33px;
	padding-right: 30px;
	padding-bottom: 34px;
}

.rooms-page-item .room-text .room-title {
	overflow: hidden;
	margin-bottom: 18px;
	padding-right: 40px;
}

.rooms-page-item .room-text .room-title h2 {
	float: left;
	font-size: 36px;
	color: #2d220f;
}

.rooms-page-item .room-text .room-title .room-price {
	float: right;
	position: relative;
}

.rooms-page-item .room-text .room-title .room-price span {
	position: absolute;
	left: -40px;
	bottom: 7px;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	line-height: 14px;
	color: #2d220f;
}

.rooms-page-item .room-text .room-title .room-price h2 {
	font-size: 36px;
	color: #081624;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
}

.rooms-page-item .room-text .room-title .room-price sub {
	position: absolute;
	right: -37px;
	bottom: 13px;
	color: #2d220f;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
}

.rooms-page-item .room-text .room-desc {
	margin-bottom: 20px;
}

.rooms-page-item .room-text .room-desc p {
	font-size: 16px;
	color: #242424;
	line-height: 32px;
	letter-spacing: 0.2px;
}

.rooms-page-item .room-text .room-features {
	overflow: hidden;
	margin-bottom: 35px;
}

.rooms-page-item .room-text .room-features .room-info {
	float: left;
	text-align: center;
	margin-right: 38px;
}

.rooms-page-item .room-text .room-features .room-info.last {
	margin-right: 0;
}

.rooms-page-item .room-text .room-features .room-info i {
	display: block;
	color: #ae9548;
	margin-bottom: -4px;
}

.rooms-page-item .room-text .room-features .room-info span {
	display: block;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	color: #2d220f;
}

/*---------------------
  Blog
-----------------------*/

.side-bar {
	margin-bottom: 50px;
}

.side-bar .categories-item {
	margin-bottom: 62px;
}

.side-bar .categories-item h4 {
	font-size: 24px;
	color: #242424;
	letter-spacing: 0.2px;
	margin-bottom: 37px;
}

.side-bar .categories-item .categories-list ul li {
	color: #242424;
	font-size: 16px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	letter-spacing: 0.2px;
	list-style: none;
	margin-bottom: 26px;
	position: relative;
}

.side-bar .categories-item .categories-list ul li:after {
	position: absolute;
	left: 0;
	bottom: -15px;
	width: 100%;
	height: 1px;
	background: #F3F3F3;
	content: "";
}

.side-bar .categories-item .categories-list ul li span {
	height: 24px;
	width: 24px;
	display: inline-block;
	line-height: 24px;
	background: #ae9548;
	font-size: 14px;
	color: #ffffff;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	border-radius: 50%;
	text-align: center;
	float: right;
}

.side-bar .recent-post {
	margin-bottom: 46x;
}

.side-bar .recent-post h4 {
	font-size: 24px;
	color: #242424;
	letter-spacing: 0.2px;
	margin-bottom: 35px;
}

.side-bar .recent-post .single-recent-post {
	overflow: hidden;
	margin-bottom: 30px;
}

.side-bar .recent-post .single-recent-post .recent-pic {
	float: left;
	margin-right: 20px;
}

.side-bar .recent-post .single-recent-post .recent-text h5 {
	font-size: 18px;
	color: #242424;
	line-height: 24px;
	margin-bottom: 9px;
}

.side-bar .recent-post .single-recent-post .recent-text .recent-time {
	position: relative;
	display: inline-block;
}

.side-bar .recent-post .single-recent-post .recent-text .recent-time i {
	position: absolute;
	left: 0;
	top: 4px;
	color: #ae9548;
	font-size: 18px;
}

.side-bar .recent-post .single-recent-post .recent-text .recent-time span {
	color: #242424;
	font-size: 12px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	letter-spacing: 0.2px;
	margin-left: 23px;
}

.side-bar .tags-item h4 {
	font-size: 24px;
	color: #242424;
	letter-spacing: 0.2px;
	margin-bottom: 24px;
}

.side-bar .tags-item .tag-links a {
	color: #ae9548;
	display: inline-block;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.2px;
	border: 1px solid #ae9548;
	border-radius: 50px;
	padding: 2px 12px;
	margin-right: 6px;
	margin-bottom: 9px;
}

.blog-post .single-blog-post {
	-webkit-box-shadow: 2px 15px 75px 6px #EBEBEB;
	box-shadow: 2px 15px 75px 6px #EBEBEB;
	margin-bottom: 50px;
}

.blog-post .single-blog-post .blog-text {
	padding-top: 25px;
	padding-left: 30px;
	padding-bottom: 25px;
	padding-right: 40px;
}

.blog-post .single-blog-post .blog-text h4 {
	color: #2d220f;
	letter-spacing: 0.2px;
	margin-bottom: 13px;
}

.blog-post .single-blog-post .blog-text .blog-widget {
	margin-bottom: 20px;
}

.blog-post .single-blog-post .blog-text .blog-widget .blog-info {
	display: inline-block;
	position: relative;
	margin-right: 20px;
}

.blog-post .single-blog-post .blog-text .blog-widget .blog-info i {
	color: #ae9548;
	font-size: 18px;
	position: absolute;
	left: 0;
	top: 3px;
}

.blog-post .single-blog-post .blog-text .blog-widget .blog-info img {
	position: absolute;
	left: 0;
	top: 5px;
}

.blog-post .single-blog-post .blog-text .blog-widget .blog-info span {
	color: #242424;
	display: inline-block;
	font-size: 12px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	margin-left: 26px;
}

.blog-post .single-blog-post p {
	font-size: 14px;
	color: #242424;
	line-height: 26px;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
}

.blog-post .single-blog-post a {
	display: inline-block;
	color: #081624;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
}

.blog-post .single-blog-post a i {
	font-size: 22px;
	color: #ae9548;
	position: absolute;
	right: -32px;
	top: -1px;
}

.blog-post .blog-pagination a {
	display: inline-block;
	height: 32px;
	width: 32px;
	border: 1px solid #ae9548;
	line-height: 31px;
	text-align: center;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	color: #ae9548;
	margin-right: 2px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.blog-post .blog-pagination a:hover,
.blog-post .blog-pagination a.active {
	background: #ae9548;
	color: #ffffff;
}

/*---------------------
  Contact
-----------------------*/

.contact-left {
	margin-top: 60px;
	margin-bottom: 30px;
}

.contact-left .contact-information {
	margin-bottom: 80px;
}

.contact-left .contact-information h2 {
	color: #081624;
	font-size: 36px;
	font-weight: 400;
	margin-bottom: 28px;
}

.contact-left .contact-information ul li {
	list-style: none;
	position: relative;
	margin-bottom: 26px;
}

.contact-left .contact-information ul li img {
	position: absolute;
	left: 0;
	top: 2px;
}

.contact-left .contact-information ul li span {
	color: #0e0e0e;
	display: inline-block;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	line-height: 18px;
	margin-left: 40px;
}

.contact-left .social-links h2 {
	color: #081624;
	font-size: 36px;
	font-weight: 400;
	margin-bottom: 46px;
}

.contact-left .social-links a {
	display: inline-block;
	height: 46px;
	width: 46px;
	border: 1px solid #ae9548;
	color: #ae9548;
	border-radius: 50%;
	line-height: 46px;
	font-size: 22px;
	margin-right: 7px;
	text-align: center;
}

.contact-form {
	border: 2px solid #ae9548;
	padding-left: 60px;
	padding-top: 55px;
	padding-right: 68px;
	padding-bottom: 47px;
}

.contact-form h5 {
	font-size: 36px;
	font-weight: 400;
	color: #081624;
	line-height: 50px;
	margin-bottom: 20px;
}

.contact-form form p {
	font-size: 14px;
	color: #242424;
	line-height: 42px;
	letter-spacing: 0.4px;
	margin: 0;
}

.contact-form form input {
	width: 100%;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	color: #242424;
	letter-spacing: 1.2px;
	opacity: 0.5;
	position: relative;
	line-height: 42px;
	border: none;
}

.contact-form form input::-webkit-input-placeholder {
	text-transform: uppercase;
}

.contact-form form input::-moz-placeholder {
	text-transform: uppercase;
}

.contact-form form input:-ms-input-placeholder {
	text-transform: uppercase;
}

.contact-form form input::-ms-input-placeholder {
	text-transform: uppercase;
}

.contact-form form input::placeholder {
	text-transform: uppercase;
}

.contact-form form textarea {
	width: 100%;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	color: #242424;
	letter-spacing: 1.2px;
	opacity: 0.5;
	border: none;
	resize: none;
	height: 81px;
	line-height: 2;
}

.contact-form form textarea::-webkit-input-placeholder {
	text-transform: uppercase;
}

.contact-form form textarea::-moz-placeholder {
	text-transform: uppercase;
}

.contact-form form textarea:-ms-input-placeholder {
	text-transform: uppercase;
}

.contact-form form textarea::-ms-input-placeholder {
	text-transform: uppercase;
}

.contact-form form textarea::placeholder {
	text-transform: uppercase;
}

.contact-form form button {
	font-size: 18px;
	color: #081624;
	text-transform: uppercase;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	background: transparent;
	border: none;
	cursor: pointer;
	position: relative;
}

.contact-form form button i {
	line-height: 16px;
	margin-top: 6px;
	position: absolute;
	right: -45px;
	bottom: 7px;
	font-size: 31px;
	color: #AE9548;
}

.contact-form form .input-group {
	position: relative;
	margin-bottom: 10px;
}

.contact-form form .input-group:after {
	position: absolute;
	left: 0;
	top: 48px;
	width: 100%;
	height: 1px;
	background: #000;
	content: "";
}

.contact-form form .input-group.phone-num img {
	top: 10px;
}

.contact-form form .input-group img {
	position: absolute;
	right: 0;
	top: 15px;
}

.contact-form form .message {
	border-bottom: 1px solid #888888;
	margin-top: 27px;
	margin-bottom: 40px;
}

.contact-form form .message .textarea {
	position: relative;
}

.contact-form form .message .textarea:before {
	position: absolute;
	left: 0;
	top: 25px;
	width: 100%;
	height: 1px;
	background: #000;
	content: "";
}

.contact-form form .message .textarea:after {
	position: absolute;
	right: 0;
	bottom: 30px;
	width: 100%;
	height: 1px;
	background: #888888;
	content: "";
}

.contact-form form .message .textarea img {
	position: absolute;
	right: 5px;
	top: 5px;
}

/*---------------------
  Map
-----------------------*/

.map {
	height: 560px;
}

.map iframe {
	width: 100%;
}

/*----------------------- Responsive Media Styles -------------------------*/

@media (min-width: 1200px) {
	.container {
		max-width: 1176px;
	}
}

@media only screen and (min-width: 1200px) and (max-width: 1300px) {
	.inner-header .logo {
		padding-left: 0;
	}
	.header-section.other-page .inner-header .main-menu ul li {
		margin-right: 20px;
	}
}

/* Medium Device: 1280px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.inner-header .logo {
		padding-left: 0;
	}
	.inner-header .main-menu {
		margin-right: 20px;
	}
	.inner-header .main-menu ul li {
		margin-right: 13px;
	}
	.slider-item .single-slider-item h1 {
		font-size: 90px;
	}
	.room-item .room-text .room-features .room-info {
		margin-right: 28px;
	}
	.check-form .datepicker .date-select {
		margin-right: 20px;
	}
	.check-form .datepicker .date-select input {
		width: 150px;
	}
	.check-form .room-quantity .single-quantity {
		margin-right: 70px;
	}
	.testimonial-item {
		margin-left: 0;
		margin-right: 0;
	}
	.testimonial-item .single-testimonial-item:after {
		left: 15px;
	}
	.header-section.other-page .inner-header .main-menu {
		float: right;
	}
	.header-section.other-page .inner-header .top-widget {
		display: none;
	}
	.single-services-item .services-text h2 {
		font-size: 28px;
	}
	.rooms-page-item .room-text .room-desc p {
		line-height: 24px;
	}
	.rooms-page-item .room-text {
		padding-bottom: 26px;
	}
	.video-tour .video-text h2 {
		font-size: 40px;
	}
}

/* Tablet Device: 768px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.inner-header .logo {
		margin-right: 30px;
	}
	.inner-header .main-menu {
		float: right;
		margin-right: 0;
	}
	.inner-header .logo {
		padding-left: 0;
		margin-right: 20px;
	}
	.header-section.other-page .inner-header .main-menu ul li,
	.inner-header .main-menu ul li {
		margin-right: 15px;
	}
	.inner-header .top-info {
		display: none;
	}
	.header-section.other-page .inner-header .logo {
		margin-right: 40px;
	}
	.slider-item .single-slider-item {
		padding-top: 300px;
	}
	.hero-text {
		padding-left: 0;
	}
	.hero-text .page-nav a,
	.hero-text .page-nav a.right-nav {
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		margin-right: 30px;
	}
	.hero-text .page-nav a.right-nav {
		margin-right: 0;
	}
	.slider-nav {
		position: relative;
		display: block;
		padding-top: 40px;
	}
	.slider-item .single-slider-item h1 {
		font-size: 65px;
		line-height: 1;
	}
	.about-room h2 {
		font-size: 35px;
	}
	.facilities-content .facilities-img {
		height: 600px;
	}
	.testimonial-item {
		margin-left: 0;
		margin-right: 0;
	}
	.testimonial-item .single-testimonial-item:after {
		left: 15px;
	}
	.about-us-room h2 {
		font-size: 35px;
	}
	.video-tour .video-play-btn {
		left: 285px;
	}
	.rooms-page-item .room-text {
		padding-left: 35px;
	}
	.rooms-page-item .room-pic-slider .single-room-pic img {
		height: auto;
	}
	.side-bar {
		padding-top: 50px;
	}
}

/* Large Mobile Device: 480px */

@media only screen and (max-width: 767px) {
	.inner-header .logo {
		padding-left: 0;
	}
	.slicknav_menu {
		display: block;
		background: transparent;
		padding: 0;
	}
	.slicknav_nav {
		background: #555;
	}
	.slicknav_nav ul {
		margin: 0;
	}
	.slicknav_nav .slicknav_row,
	.slicknav_nav a {
		padding: 10px 10px;
		margin: 0;
	}
	.slicknav_nav a:hover {
		border-radius: 0;
	}
	.slicknav_nav .slicknav_row:hover {
		border-radius: 0;
	}
	.slicknav_btn {
		margin: 0 0 10px 0;
	}
	.header-section.other-page .inner-header .main-menu,
	.inner-header .main-menu {
		display: none;
	}
	.header-section.other-page .inner-header .top-widget,
	.inner-header .top-info {
		display: none;
	}
	.header-section {
		z-index: 999;
	}
	.slider-item .single-slider-item h1 {
		font-size: 40px;
		line-height: 40px;
	}
	.slider-item .single-slider-item {
		height: auto;
		padding: 250px 0 150px;
	}
	.slider-nav {
		position: relative;
		display: block;
		padding-top: 40px;
	}
	.slider-nav .single-slider-nav {
		margin-right: 25px;
		width: 130px;
	}
	.slider-nav .single-slider-nav .nav-text p i {
		right: 5px;
		top: 12px;
	}
	.slider-nav .single-slider-nav .nav-text p {
		font-size: 13px;
	}
	.facilities-content .facilities-img {
		height: 400px;
	}
	.room-item .room-text .room-features .room-info {
		margin-right: 28px;
	}
	.check-form .datepicker .date-select {
		margin-right: 30px;
	}
	.check-form .datepicker .date-select input {
		font-size: 13px;
		width: 145px;
	}
	.check-form .room-quantity .single-quantity {
		margin-right: 70px;
	}
	.facilities-content .left-img {
		margin-right: 0;
	}
	.facilities-content .left-img img {
		width: 100%;
	}
	.facilities-content .facilities-text-t {
		margin-left: 0;
		margin-bottom: 30px;
	}
	.facilities-content .facilities-text-d {
		margin-right: 0;
	}
	.facilities-content .right-img img {
		width: 100%;
	}
	.facilities-content .right-img {
		margin-left: 0;
	}
	.testimonial-item {
		margin-left: 0;
		margin-right: 0;
	}
	.testimonial-author-item ul li {
		position: relative;
	}
	.testimonial-author-item ul li a.active .author-text {
		position: absolute;
		left: 0;
		top: 100%;
		width: 100px;
	}
	.testimonial-author-item ul li a.active .author-text h5 {
		font-size: 14px;
	}
	.testimonial-author-item ul li a.active .author-text span {
		font-size: 10px;
		line-height: 1;
	}
	.testimonial-item .single-testimonial-item:after {
		left: 15px;
	}
	.follow-instagram h2 {
		line-height: 45px;
	}
	.footer-section .copyright-area {
		text-align: center;
	}
	.footer-section .copyright-area .copyright-text {
		float: none;
	}
	.footer-section .copyright-area .privacy-links {
		float: none;
		margin-right: 0;
	}
	.footer-section .copyright-area .privacy-links a:last-child {
		margin-right: 0;
	}
	.video-tour .video-text h2 {
		text-align: center;
	}
	.video-tour {
		padding-top: 220px;
	}
	.video-tour .video-play-btn {
		position: relative;
		left: 0;
		right: 0;
		top: 0;
		text-align: center;
		-webkit-transform: translateY(0);
		transform: translateY(0);
		margin: 0 auto;
		width: 40px;
		padding-top: 50px;
	}
	.rooms-page-item .room-text {
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.rooms-page-item .room-pic-slider .single-room-pic img {
		height: auto;
	}
	.hero-text {
		padding-left: 0;
	}
	.hero-text .page-nav a,
	.hero-text .page-nav a.right-nav {
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		margin-right: 30px;
		font-size: 20px;
	}
	.hero-text .page-nav a.right-nav {
		margin-right: 0;
	}
	.single-services-item .services-text h2 {
		font-size: 35px;
	}
	.side-bar {
		padding-top: 50px;
	}
	.follow-instagram h2 {
		font-size: 20px;
	}
}

/* Small Mobile Device: 320px */

@media only screen and (min-width: 320px) and (max-width: 479px) {
	.slider-nav .single-slider-nav {
		margin-bottom: 30px;
	}
	.inner-header .logo {
		margin-right: 0;
	}
	.section-title h1 {
		font-size: 57px;
	}
	.facilities-content .facilities-text-t {
		padding-left: 45px;
		padding-top: 100px;
		padding-right: 45px;
		padding-bottom: 100px;
	}
	.facilities-content .facilities-text-d {
		padding-left: 45px;
		padding-top: 100px;
	}
	.room-item .room-text {
		padding-left: 20px;
		padding-top: 35px;
		padding-right: 12px;
	}
	.room-item .room-text .room-title h2 {
		font-size: 25px;
	}
	.room-item .room-text .room-title .room-price h2 {
		font-size: 25px;
	}
	.check-form {
		padding-left: 30px;
		padding-right: 30px;
	}
	.check-form .datepicker .date-select {
		margin-right: 20px;
	}
	.check-form .datepicker .date-select input {
		font-size: 7px;
		width: 100px;
		height: 30px;
	}
	.check-form .datepicker .date-select img {
		bottom: 7px;
	}
	.check-form .room-quantity .single-quantity {
		margin-right: 20px;
	}
	.check-form button i {
		right: -32px;
	}
	.blog-post .single-blog-post .blog-text .blog-widget .blog-info {
		margin-right: 13px;
	}
	.header-section.other-page .inner-header .logo {
		margin-right: 0;
	}
	.hero-text h1 {
		font-size: 75px;
	}
	.contact-form {
		padding-left: 30px;
		padding-top: 45px;
		padding-right: 30px;
	}
}